*{
    margin: 0;
    padding: 0;
    font-family: "poppins", sans-serif;
    box-sizing: border-box;
}

.header{
    position:relative;
    background:white;

}
.header-box {
   width: 100%;/* Set the width to 100% to cover the entire navigation bar */
   position: absolute;
   left: 0;
}
.yellow{
    background: yellow; /* Set the background color to yellow */
    height: 70px; /* Set the desired height of the yellow box */
    top: 0; /* Position it at the top of the header */
}
.green{
    background: green;
    height: 20px; /* Adjust the height*/
    top: 70px; /* Set the top position to be below the yellow box */
}

nav{
    display:flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 60px;
    height: 60px;
    left: 10px;
    position: absolute;
    top: 50; /* Adjust this value to vertically center the logo */
    transform: translateY(-55%);
}
.logo-container {
    position: relative;
}

.banner{
    position: relative;
    width: 100%;
}

.banner img {
    width: 100%;
    height: auto;
    top: 10px;
}

.nav-links{
    padding: 28px 0; /*Right= Height, Left= Width*/
    
}

.nav-links li{
    display: inline-block;
    margin: 0 15px;
}
.nav-links li a{
    text-decoration: none;
    color: black;
    padding: 5px 0;
    position:relative;
    text-transform: uppercase;
    font-weight: bold;
    
}
 .nav-links li a::after{
    content:'';
    background: #ff3d00;
    width: 0;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: width 0.5s;
 }
 .nav-links li a:hover::after{
    width: 100%;
 }
 .content{
    position: relative;
    left: 50%;
    top: 50%;
    width: 90%;
    max-width: 900px;
    transform: translate(-50%, -50%);
    text-align: center;
    color:black;
 }
.content h1{
    font-size: 65px;
    font-weight:600;
    margin-bottom: 10px;
    padding-top: 250px; /*This one is to move down the word*/
    padding-bottom: 80px;
}

.intro{
    position: relative;
    left: 50%;
    width: 90%;
    max-width: 900px;
    transform: translate(-50%, -50%);
    text-align: center;
    color:black;
 }
 .intro p {
    font-size: 18px;     /*Adjust the font size */
    line-height: 1.5;  /*Adjust the line height */
    color: #555;      /*Adjust the text color */ 
    margin-bottom: 25px; /* Adjust the margin  */
    margin-top: -150px;
   
}

footer{
    background-color:#111;
}
.footerContainer{
    width: 100%;
    padding: 20px 30px 20px;
}
.socialIcons{
    display: flex;
    justify-content: center;
}
.socialIcons a{
    text-decoration: none;
    padding: 10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
}
.socialIcons a i{
    font-size: 2em;
    color:#111;
    opacity: 0.9;
}

/*Hover Effect on SM Icons */
.socialIcons a:hover{
    background-color: #111;
    transition: 0.5s;
}
.socialIcons a:hover i{
    color:white;
    transition: 0.5s;
}

/*Copyright Section */
.footerBottom{
    background-color: black;
    padding: 20px;
    text-align: center;
}
.footerBottom p{
    color:white;
}
.designer{
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0 5px;
}
